.input-group{
    margin-top: 25px;
    margin-bottom: 50px;
}
.card{
    margin-left: 450px;
}
.para{
    margin-left: 350px;
    margin-top: 20px;
}
.navbar-brand{
    background-color: black;
}